{{#if addNewCategory}}
  <h4>New Category</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          {{input value=name id="name" class="form-control"}}
        </div>

        <button class="btn btn-success btn-sm"{{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-info btn-sm"{{action 'categoryFormShow'}}>New Category</button>
{{/if}}
