body {
  background: url('dustytruck.jpg') no-repeat fixed; background-position: 50% 70%;
}

jumbotron {
  width: 50px;
  padding-right: 50px;
  margin-right: 200px;
}

li {
  list-style-type: none;
}

/*.container {
  margin-top: 55px;
}*/

.logo_navbar {
  height: 45px;
  width: 60px;
  padding: 0px;
  margin-top: -12px;
}

.home_logo {
  margin-top: -42px;
}

p {
  text-align: center;
  font-size: 20px;
}

.home-container {
  /*margin-top: -26px;*/
  margin-top: 50px;
  text-align: center;

  /*margin-left: 50px;*/
}

li {
  text-align: center;
}

.category-buttons {
  margin-top: -42px;
}

h4 small-black {
  color: black;
  font-size: 80%;
}

.listing-back-link {
  margin-top: -42px;
}
