<div class="container">
  {{#linkTo 'index'}}Home{{/linkTo}}
</div>
<h2>Below are listings for {{model.name}}:</h2>

<!-- {{update-category category=category update="update"}}
<button class="btn btn-xs btn-danger" {{action 'delete' category}}>Delete</button> -->
