<h1>Craigslist</h1>

Find some things to buy!

<ul>
  {{#each model as |category|}}
    {{category-tile category=category destroyCategory="destroyCategory"}}
  {{/each}}
</ul>

{{new-category save2='save3'}}
