<center>
  <img class="home_logo" src="/img/logo2.png" height= 179px width= 250px>
</center>

<p>Get rid of your junk and make a couple bucks!</p>

<div class="home-container">
  <span>
    {{#each model as |category|}}
      <span>
        <!-- <span class="glyphicon-class glyphicon glyphicon-chevron-right"></span> -->
        {{#linkTo 'category' category.id}}{{category.name}}{{/linkTo}}</span>
    {{/each}}
  </span>
  <br><br>
</div>

<div class="homepagebutton">
  {{new-category save2='save3'}}
</div>
